<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - mvc_minitwit</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
    
<div class=page>
<h1>MiniTwit</h1>
<div class=navigation>
    <a asp-controller="Home" asp-action="MyTimeline">my timeline</a> |
    <a asp-controller="Home" asp-action="Timeline">public timeline</a> |
    <a asp-controller="Home" asp-action="SignIn">sign in</a> |
    <a asp-controller="Home" asp-action="SignUp">sign up</a> |
    <a asp-controller="Home" asp-action="MyTimeline">sign out</a> |
</div>
<ul class=flashes>
    <li> insert messages here 
</ul>

<div class=body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</div>
<div class=footer>
    MiniTwit &mdash; A .NET application
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</div>
</html>
