@{
    ViewData["Title"] = "My Timeline";
}

<h2>@ViewData["Title"]</h2>
<div class=followstatus>
    <a class=unfollow href="{{ url_for('unfollow_user', username=profile_user.username)}}">Unfollow user</a>.
    <a class=follow href="{{ url_for('follow_user', username=profile_user.username)}}">Follow user</a>.
</div>
<div class=twitbox>
    <h3>What's on your mind {{ g.user.username }}?</h3>
    <form action="{{ url_for('add_message') }}" method=post>
        <p><input type=text name=text size=60>
            <!----><input type=submit value="Share">
    </form>
</div>
<ul class=messages>
    <li><img src="{{ message.email|gravatar(size=48) }}">
        <p>
            <strong><a href="{{ url_for('user_timeline', username=message.username)}}">{{ message.username }}</a></strong>
            {{ message.text }}
            <small>&mdash; {{ message.pub_date|datetimeformat }}</small>
    <li><em>There's no message so far.</em>
</ul>
