@model mvc_minitwit.Models.User

@{
    ViewData["Title"] = "Login";
}

  <h2>Sign In</h2>
@using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
            <dt>E-mail:</dt>
            @Html.TextBoxFor(m => m.email, "", new { @class = "form-control", @placeholder = "E-mail" })
            </div>

            <div class="form-group">
            <dt>Password:</dt>
            @Html.PasswordFor(m => m.pw_hash, new { @class = "form-control", @placeholder = "Password" })
            </div>
            
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-primary" value="SignIn"/>
            </div>
            @if (ViewBag.error != null)
            {
              <span class="badge badge-danger">@ViewBag.error</span>
            }
         }
