@model IEnumerable<mvc_minitwit.Models.TimelineData>
@{

    //ViewData["Title"] = "Public Timeline";
    var newDate = new mvc_minitwit.HelperClasses.TimeConverters();
    var gravatar = new mvc_minitwit.HelperClasses.GravatarImage();
}

<ul class=messages> 
        @foreach (var item in Model)
        {
            <li><img src=@gravatar.emailToGravatar(item.email)><p>
                <strong><a asp-controller="Home" asp-action="Timeline" asp-route-id=@item.username> @Html.DisplayFor(modelItem => item.username) </a></strong>
                    @Html.DisplayFor(modelItem => item.text)
                    <small>&mdash; @newDate.formatIntToDate(item.pub_date) </small>
            </li>
        } 
</ul> 